<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/includes/header}"></head>

<body>
<div class="container float-left">
    <div class="row h-100">
        <div class="col-lg-3 h-100 bg-light pt-4">
            <div class="container float-left">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main">User info</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg pt-4">

            <%--TEST--%>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">New User</a>
                </li>

            </ul>
            <div class="tab-content border-left border-right border-bottom" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="bg-light w-100 p-2">
                        <span class="font-weight-bold">All User</span>
                    </div>
                    <div class="p-2">
                        <table id="tableJquery" class="table table-striped table-borderless">
                            <thead>
                            <tr class="border-0">
                                <th scope="col">ID</th>
                                <th scope="col">Role</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Password</th>
                                <th scope="col">Active</th>
                                <th scope="col">Edit</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="bg-light w-100 p-2">
                        <span class="font-weight-bold">Add new user</span>
                    </div>
                    <div th:insert="~{add.html}" ></div>
                </div>

            </div>
            <div id="successDelete" class="alert alert-success" style="display: none" role="alert">
                User has been delete
            </div>

        </div>
    </div>
</div>
</div>
<!--modal-->
<div class="modal fade show" id="ModalCenter" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">Edit User</h5>
                <button type="button"  onclick="btnCloseModal()" class="close"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body w-50 mx-auto text-center">
                <form id="userDataEdit" name="userDataEdit">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="number" class="form-control"
                               id="id"
                               value="" disabled>
                        <input type="hidden" name="id" value="">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control"
                               id="name" name="name"
                               value="" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control"
                               value="" id="email"
                               name="email"
                               placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" value=""
                               class="form-control"
                               id="password" name="password"
                               placeholder="Password">
                    </div>
                    <div class="text-left">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" name="" class="custom-control-input" id="user-role-admin">
                            <label class="custom-control-label" for="user-role-admin">ADMIN</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" name="" class="custom-control-input" id="user-role-user">
                            <label class="custom-control-label" for="user-role-user">USER</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" name="" class="custom-control-input" id="user-active">
                            <label class="custom-control-label" for="user-active">ACTIVE</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="btnCloseModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveEditUser" onclick="putForm()" class="btn btn-primary" form="userDataEdit">Save changes</button>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{includes/footer.html}"></footer>

